#foogle{
  padding-top: 2%;
  text-align: center;
  font-size: 95px;

}
#body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.navbar{
  height:48px;
  padding: 5px;
  display: flex;
  flex-flow: row;
}
.navbar-left{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.navbar-right{
  display: flex;
  flex-flow: row-reverse;
  text-align: right;
  width: 100%;


}
.item{
  color: black;
  font-size:12pt;
  padding:5px;
  margin: 5px 10px;
  text-decoration: none;

}
.item-right{
  color: black;
  font-size:14pt;
  padding:5px;
  margin: 5px;
  text-decoration: none;
}
.settings-svg{
  height: 18px;
  width: 18px;

}
#user{

}
.main{

}
.searchbar{

}
.footer{
  line-height: 100px;
  position:absolute;
  background: rgba(0,0,0,.16);
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 60px;
}
