*{

}
#foogle{
  text-align: center;
  font-size: 95px;
  margin-bottom: 50px;
  font-family: Poppins;
}
#body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.navbar{
  height:48px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  font-family: sans-serif;
}
.navbar-left{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.navbar-right{
  display: flex;
  flex-flow: row-reverse;
  text-align: right;
  width: 100%;


}
.item{
  color: black;
  font-size:12pt;
  padding:5px;
  margin: 5px 10px;
  text-decoration: none;

}
.item-right{
  color: black;
  font-size:12pt;
  padding:5px;
  margin: 5px;
  text-decoration: none;
}
.settings-svg{
  height: 18px;
  width: 18px;

}
#user{

}
.main{
  align-items: center;

}
.searchbar{
  margin: auto;
  width: 50%;
  flex-wrap: wrap;
  height: 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 20px;
  padding: 0px 20px;
  transition: box-shadow .2s;
}
.searchbar:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.3);
}
.button:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}
#input{
  margin: auto;
  height: 20px
}
.submit {
  padding-top: 15px;
  text-align: center;
  border-style: none;
}
.footer{
  position:absolute;
  background: rgb(0,0,0,.2);
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 60px;
  display: inline-flex;
}
.footer-left{
  display: flex;
  flex-flow: row;
}
.footer-right{
  display: flex;
  flex-flow: row-reverse;
  margin-left: auto;
  padding
}
.lte{
  color:#6d6d6d;
  padding-top: 15px;
}
