#foogle{
  padding-top: 110px;
  text-align: center;
  font-size: 95px;

}
#body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.navbar{
  height:48px;
  width:100%;
  top: 0px;
  display: flex;
}

.item{
  color: black;
  font-size:14pt;
  text-align: center;
  top:50%;
  padding: 50%,10px,0,10px;

}
.main{

}
.searchbar{

}
.footer{
  line-height: 100px;
  position:absolute;
  background: rgba(0,0,0,.16);
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 60px;
}
